<div id="sign_up" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Start a new game</h3>
  </div>
  
  <form id="game_start" action="/game/start" method="post">
    <div class="modal-body">
    
      <input type="text" name="player1" placeholder="Player 1">
    
      <input type="text" name="player2" placeholder="Player 2">

      <input class="btn btn-primary" type="submit" value="Make History">
    </div>
  </form>
</div>